# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Firebase credentials
#secrets/firebase-key.json

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Test and coverage outputs
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Uvicorn logs
*.log

# Git
*.orig

# Archivos y carpetas innecesarios
# Logs
*.log

# Datos exportados o generados
/exportedData/
/dataconnect/
/dataconnect-debug.log
/firebase-debug.log

# Editor y herramientas de desarrollo
/.VSCodeCounter/
.vscode/

# Entorno virtual (si existiera en raíz)

__pycache__/
*.pyc

.env
secrets/
*.json
*.key
*.pem