# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environments
.env
.env.*
venv/
ENV/
env/
.venv/

# Firebase credentials
#secrets/firebase-key.json

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Test and coverage outputs
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Uvicorn logs
*.log

# Git
*.orig